body{
    background-color: aquamarine;
    color: rgb(0, 0, 0);
}
div{
    background-color: aqua;
    padding: 10px;
    margin: 10px;
}
span{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-style: italic;
}